/* custom.css */
/* 默认样式 - 亮色模式下 */
/* code, pre {
  color: #333;
  background-color: #0e0d0d;
} */

/* 暗色模式下样式 */
@media (prefers-color-scheme: dark) {
  code, pre {
    color: #060606;
    background-color: #2d2d2d;
    border-color: #444;
  }
}
